body {
    font-family: 'Roboto', sans-serif;
}

/*navbar*/
.bg-dark {
    background-color: #089191!important;
 }

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

#home a {
    color: #ffffff;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

#home a:hover {
    color:#910808;
}

.dropdown-menu {
    background-color: #66b2b2;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
}

.dropdown-item {
    color: #ffffff;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.dropdown-item:hover {
    color: #910808;
    background-color: #089191;
}
/*carousel*/
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 28px; 
    background-color: #089191;
    border: #089191;
}
/*breadcrumb*/
.breadcrumb-item a {
    color: #089191;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;    
}

.breadcrumb-item a:hover {
    color:#910808;  
}
/* alert */
.alert, .alert-warning {
    margin-bottom: 0px;
    background-color: #089191;
    border-top-width: 0px;  
}

.alert-warning p {
    color: #ffffff;
}

.alert-warning p a {
    color: #ffffff; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.alert-warning p a:hover {
   color:#910808;
}

#gutter {
    padding-right: 0px;
    padding-left: 0px;
}

#alert {
    margin-bottom: 50px;
}
 /* callout */
.btn-primary {
    background-color: #089191;
    border-color: #089191;
    margin-bottom: 6px;
}

.btn-primary:hover {
    background-color: #089191;
    border-color: #089191;
    color: #ffffff;   
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #089191;
    border-color: #089191;
    color: #ffffff;   
}

.btn-outline-success {
    color: #089191;
    border-color: #089191;
}
/* Index page - body and cards */
.index-hr {
    background-color: #089191;
    height: 1.0px;
}
body {
    padding-top: 56px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.theme-feature a {
   text-decoration: none; 
   color: #212529;
}

.card-title a {
    text-decoration: none;
    color: #212529;
}
/*sign-up page - form fields*/
.form-group {
    padding-top:15px;
    margin-bottom: 0px;
}

#sendMessageButton {
    margin-top: 15px;
}

.form-row label {
    padding-top: 15px;
}

.notification {
    background-color: #089191;
    color:#b54484;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    text-align: center;
    min-height: 200px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5;
}

.notification p {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
/* footer */
.fab {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
}

.social li {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    max-width: 20%;
}

.social li a i {
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.social li a i:hover {
    color: #910808;
}
/* add recipe*/
#top-field {
    padding-top: 0px;
}

.recipe-hr {
    background-color: #089191;
    height: 1.5px;
}

/*navbar adaptions for 'add recipe' page*/
@media (min-width:300px) and (max-width:496px) {            
    .nav-spacer {
    margin-top: 2.5rem !important;
    }
}

@media (min-width:332px) and (max-width:380px) {            
    #home .navbar-toggler {
        margin-left: 50px; 
    }
}

@media (min-width:381px) and (max-width:430px) {            
    #home .navbar-toggler {
        margin-left: 100px; 
    }
}

@media (min-width:431px) and (max-width:450px) {            
    #home .navbar-toggler {
        margin-left: 120px; 
    }
}

@media (min-width:451px) and (max-width:490px) {            
    #home .navbar-toggler {
        margin-left: 160px; 
    }
}

@media (min-width:491px) and (max-width:496px) {            
    #home .navbar-toggler {
        margin-left: 180px; 
    }
}

/*END navbar adaptions for 'add recipe' page*/
/*all_categories*/
#add_a_category {
    padding-left: 0px;
    padding-bottom: 20px;
}

#add_a_recipe {
    padding-left: 0px;
    padding-bottom: 20px;
}

.nutri-tabs-lg {
    width: 110px;
    height: 110px;
}

.nutri-tabs-sm {
    width: 110px;
    height: 110px;
    padding: 0px;
    font-size: 14px;
}

.gutter {
    padding-left: 0px;
}

/*search bar input legend*/
.text-muted {
    font-size: 12px;
}