{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">
        Add a Category
	</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ url_for('index')}}">
                Home
            </a>
		</li>
		<li class="breadcrumb-item active">
            Add a Category
        </li>
	</ol>
	<div class="card mb-4">
		<div class="card-body">
			<form action="{{ url_for('insert_category') }}" method="POST">
				<div class="form-group row">
                    <label for="username2" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username2" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category_name2" class="col-sm-2 col-form-label">Category</label>     
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="category_name2" name="category_name">
                    </div>     
                </div>
                <div class="form-group row" hidden>
                    <label for="timestamp1" class="col-sm-2 col-form-label">Timestamp</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="timestamp1" name="timestamp" value="{{timestamp}}">
                    </div>
                </div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary" name="action">Submit category &rarr;</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /.container -->
{% endblock %}