{% extends 'base.html' %} 
    {% block navigation %}
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="add_row_ingredient">
            + <i class="fas fa-carrot"></i>
        </button>
    </div>   
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="delete_row_ingredient">
            - <i class="fas fa-carrot"></i>
        </button>
    </div>   
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="add_row_procedure">
            + <i class="fas fa-utensil-spoon"></i>
        </button>
    </div> 
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="delete_row_procedure">
            - <i class="fas fa-utensil-spoon"></i>
        </button>
    </div>
    {% endblock navigation%}
{% block content %}
<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3 nav-spacer">Add a Recipe</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ url_for('index')}}">
                Home
            </a>
		</li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('all_recipes')}}">
                All Recipes
            </a>
        </li>
		<li class="breadcrumb-item active">
            Add a Recipe
        </li>
	</ol>
	<!-- Recipe Form -->
	<div class="card mb-4">
		<div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form action="{{ url_for('insert_recipe') }}" method="POST">
                        <div class="form-group row" id="top-field">
                            <label for="name" class="col-md-2 col-form-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="username" placeholder="how do you want to be known?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlSelect1" class="col-md-2 col-form-label">Category</label>
                            <div class="col-md-10">
                                <select class="form-control" id="category_name" name="category_name">
                                    {% for cat in categories %}
                                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-2 col-form-label">Dish name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="dish_name" placeholder="what's your dish called?">
                            </div>
                        </div>                
                        <div class="form-group row">
                            <label for="name" class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="description" placeholder="add a description here">
                            </div>
                        </div>    
                        <div class="form-group row new-ingredients" id="ingredients-item">
                            <label for="ingredients" class="col-md-2 col-form-label">Ingredient</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="ingredients" placeholder="add an ingredient here, use the spoon above to add more ingredients">
                            </div>
                        </div>
                        <div class="form-group row new-procedures" id="procedures-item">
                            <label for="procedures" class="col-md-2 col-form-label">Procedure</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="procedures" placeholder="add a step here, use the spoon above to add more steps">
                            </div>
                        </div>                
                        <div class="form-group row">
                            <label for="exampleFormControlSelect1" class="col-md-2 col-form-label">Dietry information</label>
                            <div class="col-md-10">
                                <select class="form-control" id="dietry_name" name="dietry_name">
                                    {% for key in key_information %}
                                    <option value="{{key.dietry_name}}">{{key.dietry_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">Allergy information</div>
                            <div class="col-md-10">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="is_gluten_free">
                                    <label class="custom-control-label" for="customSwitch1">Gluten free</label>
                                </div>	
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2" name="is_nut_free">
                                    <label class="custom-control-label" for="customSwitch2">Nut free</label>
                                </div>	
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" name="is_dairy_free">
                                    <label class="custom-control-label" for="customSwitch3">Dairy free</label>
                                </div>			
                            </div>
                        </div>
                        <div class="form-group row" id="calories">
                            <label for="calories" class="col-md-2 col-form-label">Calories</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="calories" placeholder="how many kcals does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row" id="fat">
                            <label for="fat" class="col-md-2 col-form-label">Fat</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="fat" placeholder="how many grammes of fat does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row" id="saturates">
                            <label for="saturates" class="col-md-2 col-form-label">Saturates</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="saturates" placeholder="how many grammes of saturated fat does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row" id="sugar">
                            <label for="sugar" class="col-md-2 col-form-label">Sugar</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="sugar" placeholder="how many grammes of sugar does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row" id="salt">
                            <label for="salt" class="col-md-2 col-form-label">Salt</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="salt" placeholder="how many grammes of salt does each serving contain?">
                            </div>
                        </div>   <div class="form-group row" id="protein">
                            <label for="protein" class="col-md-2 col-form-label">Protein</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="protein" placeholder="how many grammes of protein does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row" id="carbs">
                            <label for="carbs" class="col-md-2 col-form-label">Carbs</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="carbs" placeholder="how many grammes of carbs does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row" id="fibre">
                            <label for="fibre" class="col-md-2 col-form-label">Fibre</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="fibre" placeholder="how many grammes of fibre does each serving contain?">
                            </div>
                        </div>  
                        <div class="form-group row" id="picture">
                            <label for="picture" class="col-md-2 col-form-label">Picture</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="picture" placeholder="supply a URL address for an image representing your dish.">
                            </div>
                        </div>
                        <div class="form-group row" hidden>
                            <label for="name" class="col-md-2 col-form-label">Timestamp</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="timestamp" value="{{timestamp}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" name="action">Submit recipe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- /.container -->
{% endblock %}