{% extends 'base.html' %} 
    {% block navigation %}
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="add_row_ingredient">
            + <i class="fas fa-carrot"></i>
        </button>
    </div>   
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="delete_row_ingredient">
            - <i class="fas fa-carrot"></i>
        </button>
    </div>   
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="add_row_procedure">
            + <i class="fas fa-utensil-spoon"></i>
        </button>
    </div> 
    <div class="col-xs-3">
        <button class="btn btn-primary btn-block" id="delete_row_procedure">
            - <i class="fas fa-utensil-spoon"></i>
        </button>
    </div>
    {% endblock navigation%}
{% block content %}
<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3 nav-spacer">Add a Recipe</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ url_for('index')}}">
                Home
            </a>
		</li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('all_recipes')}}">
                All Recipes
            </a>
        </li>
		<li class="breadcrumb-item active">
            Add a Recipe
        </li>
	</ol>
	<!-- Recipe Form -->
	<div class="card mb-4">
		<div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form action="{{ url_for('insert_recipe') }}" method="POST" class="needs-validation" novalidate>
                        <div class="form-group row" id="top-field">
                            <label for="username" class="col-md-2 col-form-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="username" required id="username" placeholder="how do you want to be known?">
                            </div>
                        </div>
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="category_name" class="col-md-2 col-form-label">Category</label>
                            <div class="col-md-10">
                                <select class="form-control" name="category_name" id="category_name">
                                    {% for cat in categories %}
                                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="dish_name" class="col-md-2 col-form-label">Dish name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="dish_name" required id="dish_name" placeholder="what's your dish called?">
                            </div>
                        </div>                
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="description" class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="description" required id="description" placeholder="add a description here">
                            </div>
                        </div>    
                        <hr class="recipe-hr">
                        <div class="new-ingredients" id="new-ingredients">

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <p>Ingredients</p>
                                </div>
                                <div class="col-md-10">
                                    <p>Use the <i class="fas fa-carrot"></i> to add or delete ingredients</p>
                                </div>
                            </div>

                            <div class="form-group row" id="ingredients-item1">
                                <label for="ingredients1" class="col-md-2 col-form-label" id="ingredient-test1">Ingredient 1</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="ingredients1" required id="ingredients1" placeholder="add an ingredient here, use the carrot above to add more ingredients">
                                </div>
                            </div>
                        </div>                      
                        <hr class="recipe-hr">
                        <div class="new-procedures" id="new-procedures">

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <p>Steps</p>
                                </div>
                                <div class="col-md-10">
                                    <p>Use the <i class="fas fa-utensil-spoon"></i> to add or delete steps</p>
                                </div>
                            </div>

                            <div class="form-group row" id="procedures-item1">
                                <label for="procedures1" class="col-md-2 col-form-label" id="procedure-test1">Step 1</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="procedures1" required id="procedures1" placeholder="add a step here, use the spoon above to add more steps" rows="3"></textarea>
                                </div>
                            </div> 
                        </div> 
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="dietry_name" class="col-md-2 col-form-label">Dietry information</label>
                            <div class="col-md-10">
                                <select class="form-control" id="dietry_name" name="dietry_name">
                                    {% for key in key_information %}
                                    <option value="{{key.dietry_name}}">{{key.dietry_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <div class="col-md-2">Allergy information</div>
                            <div class="col-md-10">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="is_gluten_free" name="is_gluten_free">
                                    <label class="custom-control-label" for="is_gluten_free">Gluten free</label>
                                </div>	
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="is_nut_free" name="is_nut_free">
                                    <label class="custom-control-label" for="is_nut_free">Nut free</label>
                                </div>	
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="is_dairy_free" name="is_dairy_free">
                                    <label class="custom-control-label" for="is_dairy_free">Dairy free</label>
                                </div>			
                            </div>
                        </div>
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="calories" class="col-md-2 col-form-label">Calories</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="calories" id="calories" placeholder="how many kcals does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row">
                            <label for="fat" class="col-md-2 col-form-label">Fat</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="fat" id="fat" placeholder="how many grammes of fat does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="saturates" class="col-md-2 col-form-label">Saturates</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="saturates" id="saturates" placeholder="how many grammes of saturated fat does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row">
                            <label for="sugar" class="col-md-2 col-form-label">Sugar</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="sugar" id="sugar" placeholder="how many grammes of sugar does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="salt" class="col-md-2 col-form-label">Salt</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="salt" id="salt" placeholder="how many grammes of salt does each serving contain?">
                            </div>
                        </div>   <div class="form-group row">
                            <label for="protein" class="col-md-2 col-form-label">Protein</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="protein" id="protein" placeholder="how many grammes of protein does each serving contain?">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="carbs" class="col-md-2 col-form-label">Carbs</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="carbs" id="carbs" placeholder="how many grammes of carbs does each serving contain?">
                            </div>
                        </div>   
                        <div class="form-group row">
                            <label for="fibre" class="col-md-2 col-form-label">Fibre</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="fibre" id="fibre" placeholder="how many grammes of fibre does each serving contain?">
                            </div>
                        </div>  
                        <hr class="recipe-hr">
                        <div class="form-group row">
                            <label for="picture" class="col-md-2 col-form-label">Picture</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="picture" id="picture" placeholder="supply a URL address for an image representing your dish.">
                            </div>
                        </div>
                        <div class="form-group row" hidden>
                            <label for="timestamp" class="col-md-2 col-form-label">Timestamp</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="timestamp" id="timestamp" value="{{timestamp}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary hvr-box-shadow-outset" name="action">Submit recipe &rarr;</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- /.container -->
{% endblock %}