{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">Add a Recipe
		<small>Subheading</small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active">Blog Home 2</li>
	</ol>
<!--https://stackoverflow.com/questions/4766941/dynamically-adding-textboxes-to-a-form-by-the-click-of-a-button
    <form method='GET'>
        <input id='' type='button' value='Add Medical History'>
            <div id=''></div>
        <input type='submit' value='Submit'>
    </form> -->

    <button id="addRow">+ Add</button>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<form action="{{ url_for('insert_recipe') }}" method="POST">
				<div class="form-group row">
                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="category_name" name="category_name">
                            {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Dish name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="name">
                    </div>
                </div>                
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="description">
                    </div>
                </div>
                
                <div class="form-group row new-ingredient" id="ingredients-item">
                <!-- <div class="form-group row"> -->
                    <label for="ingredients" class="col-sm-2 col-form-label">Ingredient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ingredients">
                        <!-- <input type="text" class="form-control" name="ingredients_' + i + '"> -->
                    </div>
                </div>
                <div id="theForm"></div>

                <div class="form-group row">
                    <label for="procedure" class="col-sm-2 col-form-label">Procedure</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="procedure">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Key information</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Vegan
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Vegetarian
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-2">Checkbox</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gluten_free" name="gluten_free">
                            <label class="form-check-label" for="gridCheck1">
                                Gluten free
                            </label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary" name="action">Preview</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Pagination -->
	<ul class="pagination justify-content-center mb-4">
		<li class="page-item">
			<a class="page-link" href="#">&larr; Older</a>
		</li>
		<li class="page-item disabled">
			<a class="page-link" href="#">Newer &rarr;</a>
		</li>
	</ul>
</div>
<!-- /.container -->
{% endblock %}