{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">Add a Recipe
		<small>Subheading</small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active">Blog Home 2</li>
	</ol>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<form>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Dish name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="">
                    </div>
				</div>
                <div class="form-group row">
                    <label for="ingredients" class="col-sm-2 col-form-label">Ingredient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Key information</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Vegan
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Vegetarian
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="" value="option3" disabled>
                                <label class="form-check-label" for="gridRadios3">
                                    Gluten free
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-2">Checkbox</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                Example checkbox
                            </label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<a href="#">
						<img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
            </a>
				</div>
				<div class="col-lg-6">
					<h2 class="card-title">Post Title</h2>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
						atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
						voluptate voluptatibus possimus, veniam magni quis!</p>
					<a href="#" class="btn btn-primary">Read More &rarr;</a>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			Posted on January 1, 2017 by
			<a href="#">Start Bootstrap</a>
		</div>
	</div>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<a href="#">
						<img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
            </a>
				</div>
				<div class="col-lg-6">
					<h2 class="card-title">Post Title</h2>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
						atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
						voluptate voluptatibus possimus, veniam magni quis!</p>
					<a href="#" class="btn btn-primary">Read More &rarr;</a>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			Posted on January 1, 2017 by
			<a href="#">Start Bootstrap</a>
		</div>
	</div>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<a href="#">
						<img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
            </a>
				</div>
				<div class="col-lg-6">
					<h2 class="card-title">Post Title</h2>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
						atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
						voluptate voluptatibus possimus, veniam magni quis!</p>
					<a href="#" class="btn btn-primary">Read More &rarr;</a>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			Posted on January 1, 2017 by
			<a href="#">Start Bootstrap</a>
		</div>
	</div>

	<!-- Pagination -->
	<ul class="pagination justify-content-center mb-4">
		<li class="page-item">
			<a class="page-link" href="#">&larr; Older</a>
		</li>
		<li class="page-item disabled">
			<a class="page-link" href="#">Newer &rarr;</a>
		</li>
	</ul>

</div>

</div>
<!-- /.container -->
{% endblock %}