{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">All Recipes</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active">
            All Recipes
        </li>
    </ol>
    <div class="col-md-4" id="add_a_recipe">
        <a class="btn btn-lg btn-primary btn-block hvr-box-shadow-outset" href="{{ url_for('add_recipe') }}">
            Add a Recipe &rarr;
        </a>
    </div>  
    <!-- Recipe Post -->
    {% for item in recipe %}
    <div class="card d-block mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded" src="{{item.picture}}" alt="image of food">
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">{{item.dish_name}}</h2>
                    <p class="card-text">{{item.description}}</p>
                    <a href="{{ url_for('recipe', recipe_id=item._id) }}" class="btn btn-primary hvr-box-shadow-outset">Read More &rarr;</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=item._id) }}" class="btn btn-primary hvr-box-shadow-outset">Edit &rarr;</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=item._id) }}" class="btn btn-primary hvr-box-shadow-outset">Delete &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on {{item.timestamp}} by {{item.username}}
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.container -->
{% endblock %}