{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">All Recipes</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active">
            All Recipes
        </li>
    </ol>
    <!-- Recipe Post -->
    {% for item in recipe %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <img class="img-fluid rounded" src="{{item.picture}}" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">{{item.dish_name}}</h2>
                    <p class="card-text">{{item.description}}</p>
                    <a href="{{ url_for('recipe', recipe_id=item._id) }}" class="btn btn-primary">Read More &rarr;</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=item._id) }}" class="btn btn-primary">Edit &rarr;</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=item._id) }}" class="btn btn-primary">Delete &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on {{item.timestamp}} by {{item.username}}
            <!--<a href="#">Start Bootstrap</a>-->
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.container -->
{% endblock %}