<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modern-business.css') }}" type="text/css" />
    <title>Lockdown</title>
</head>

<body>
         
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Surviving Lockdown</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Store</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>              
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('subscribe') }}">Subscribe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Eat
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRecipes">
                            <a class="dropdown-item" href="{{ url_for('all_recipes') }}">All Recipes</a>
                            <a class="dropdown-item" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                            <a class="dropdown-item" href="{{ url_for('search_recipes') }}">Search Recipes</a>
                            <a class="dropdown-item" href="{{ url_for('all_categories') }}">All Category</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Play
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRecipes">
                            <a class="dropdown-item" href="{{ url_for('error') }}">Games for kids</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Learning for kids</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Games for big kids</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Puzzles for big kids</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rest
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRecipes">
                            <a class="dropdown-item" href="{{ url_for('error') }}">Meditation</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Yoga and pilates</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Exercise</a>
                            <a class="dropdown-item" href="{{ url_for('error') }}">Sleep aids</a>
                        </div>
                    </li>         
                </ul>
            </div>
        </div>
    </nav>
 
    {% block content %}{% endblock %}
    

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!--Javascript for add inline-->
    <script src="{{ url_for('static', filename='js/addline.js') }}"></script>
</body>

</html>