{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">Edit a Recipe</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ url_for('index')}}">Home</a>
		</li>
		<li class="breadcrumb-item active">Edit Recipe</li>
	</ol>
    
    <button id="add_row_ingredient">+ Add ingredient</button>
	<button id="delete_row_ingredient">+ Delete ingredient</button>
	<button id="add_row_procedure">+ Add procedure</button>
	<button id="delete_row_procedure">+ Delete procedure</button>

	<!-- Blog Post -->
	<div class="card mb-4">
		<div class="card-body">
			<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
				<div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" name="username" value="{{recipe.username}}">
                    </div>
                </div>
                <div>
                    <input type="text" class="form-control" hidden id="" name="feature" value="{{recipe.feature}}">
                    <input type="text" class="form-control" hidden id="" name="picture" value="{{recipe.picture}}">
                    <input type="text" class="form-control" hidden id="" name="timestamp" value="{{recipe.timestamp}}">
                </div>
                <div class="form-group row">
					<label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
						<select class="form-control" id="category_name" name="category_name">
                            {% for cat in categories %}
                                {% if cat.category_name == recipe.category_name %}
                                    <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                                {% else %}
                                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					</div>
				</div>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Dish name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="" name="dish_name" value="{{recipe.dish_name}}">
                    </div>
				</div>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="" name="description" value="{{recipe.description}}">
                    </div>
				</div>
				{% for ingredient in recipe.ingredients %}
				<div class="form-group row new-ingredients" id="ingredients-item">
                    <label for="ingredients" class="col-sm-2 col-form-label">Ingredient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ingredients" value="{{ ingredient }}">
                    </div>
                </div>
                {% endfor %}
                {% for procedure in recipe.procedures %}
                <div class="form-group row new-procedures" id="procedures-item">
                    <label for="procedures" class="col-sm-2 col-form-label">Procedure</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="procedures" value="{{ procedure }}">
                    </div>
                </div>
                {% endfor %}
				<div class="form-group row">
					<label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Key information</label>
					<div class="col-sm-10">
						<select class="form-control" id="dietry_name" name="dietry_name">
                        {% for key in key_information %}
                            {% if key.dietry_name == recipe.dietry_name %}
                                <option value="{{key.dietry_name}}" selected>{{key.dietry_name}}</option>
                            {% else %}
                                <option value="{{key.dietry_name}}">{{key.dietry_name}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Allergy information</div>
                    <div class="col-sm-10">
                        {% if recipe.is_gluten_free %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="is_gluten_free" checked>
                            <label class="custom-control-label" for="customSwitch1">Gluten free</label>
                        </div>
                        {% else %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch4" name="is_gluten_free">
                            <label class="custom-control-label" for="customSwitch4">Gluten free</label>
                        </div>
                        {% endif %}
                        {% if recipe.is_nut_free %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch2" name="is_nut_free" checked>
                            <label class="custom-control-label" for="customSwitch2">Nut free</label>
                        </div>
                        {% else %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch5" name="is_nut_free">
                            <label class="custom-control-label" for="customSwitch5">Nut free</label>
                        </div>
                        {% endif %}
                        {% if recipe.is_dairy_free %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="is_dairy_free" checked>
                            <label class="custom-control-label" for="customSwitch3">Dairy free</label>
                        </div>
                        {% else %}
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch6" name="is_dairy_free">
                            <label class="custom-control-label" for="customSwitch6">Dairy free</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" name="action">Edit Recipe</button>
                    </div>
                </div>
			</form>
		</div>
	</div>
	
</div>
<!-- /.container -->
{% endblock %}