{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Under Construction
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Under Construction
        </li>
    </ol>
    <div class="jumbotron">
        <div class="col-lg-8 mb-4">
            <img class="img-fluid rounded" src="static/images/building-construction-site-work-38293.jpg" alt="building construction site">
        </div>
        <p>The page you're looking for is under construction. Here are some helpful links to get you back on track:</p>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('subscribe') }}">Subscribe</a>
            </li>
            <li>
                Eat and Feed
                <ul>
                    <li>
                        <a href="{{ url_for('all_recipes') }}">All Recipes</a>
                    </li>
                    <li>
                        <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
                    </li>
                    <li>
                        <a href="{{ url_for('search_recipes') }}">Search Recipes</a>
                    </li>
                    <li>
                        <a href="{{ url_for('all_categories') }}">All Categories</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.jumbotron -->
</div>
<!-- /.container -->
{% endblock %}