{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Found Recipes
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('all_recipes')}}">
                All Recipes
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('search_recipes')}}">
                Search Recipes
            </a>
        </li>
        <li class="breadcrumb-item active">
            Search Results
        </li>
    </ol>
    <!-- List -->
    {% for item0 in result0 %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded" src="{{item0.picture}}" alt="image of food">
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">{{item0.dish_name}}</h2>
                    <p class="card-text">{{item0.description}}</p>         
                    <a href="{{ url_for('recipe', recipe_id=item0._id) }}" class="btn btn-primary hvr-box-shadow-outset">Read More &rarr;</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=item0._id) }}" class="btn btn-primary hvr-box-shadow-outset">Edit &rarr;</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=item0._id) }}" class="btn btn-primary hvr-box-shadow-outset">Delete &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on {{item0.timestamp}} by {{item0.username}}
        </div>
    </div>
    {% endfor %}
    {% for item1 in result1 %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded" src="{{item1.picture}}" alt="image of food">
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">{{item1.dish_name}}</h2>
                    <p class="card-text">{{item1.description}}</p>          
                    <a href="{{ url_for('recipe', recipe_id=item1._id) }}" class="btn btn-primary hvr-box-shadow-outset">Read More &rarr;</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=item1._id) }}" class="btn btn-primary hvr-box-shadow-outset">Edit &rarr;</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=item1._id) }}" class="btn btn-primary hvr-box-shadow-outset">Delete &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on {{item1.timestamp}} by {{item1.username}}
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.container -->
{% endblock %}