{% extends 'base.html' %}
{% block content %}
<header>
	<div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active"
				style="background-image: url('../static/images/cropped-photo-of-child-watching-through-imac-4145038.jpg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>
						<a href="{{ url_for('error') }}">Play &amp Learn</a>
					</h3>
				</div>
			</div>
			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item"
				style="background-image: url('../static/images/little-girl-cooking-1684032.jpg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>
						<a href="{{ url_for('all_recipes') }}">Feed &amp Eat</a>
					</h3>
				</div>
			</div>
			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item"
				style="background-image: url('../static/images/4k-wallpaper-adorable-blur-boy-1148998.jpg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>
						<a href="{{ url_for('error') }}">Rest &amp Relaxation</a>
					</h3>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</header>

<!-- Page Content -->
<div class="container">



	<div class="row">
		<div class="col-lg-6">
			<h2>Subscribe</h2>
			<p>Join this site because:</p>
			<ul>
				<li>
					<strong>one</strong>
				</li>
				<li>two</li>
				<li>three</li>
				<li>four</li>
				<li>five</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id
				reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia
				dolorum ducimus unde.</p>
		</div>
		<div class="col-lg-6">
			<a href="{{ url_for('subscribe') }}"><img class="img-fluid rounded" src="static/images/adult-cutting-daylight-facial-expression-1153369.jpg" alt="">
            </a>
		</div>
	</div>
	<!-- /.row -->
	<hr>
	<!-- Call to Action Section -->
	<div class="row mb-4">
		<div class="col-md-8">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum
				deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
		</div>
		<div class="col-md-4">
			<a class="btn btn-lg btn-primary btn-block" href="{{ url_for('subscribe') }}">subscribe</a>
		</div>
	</div>

	<h1 class="my-4">Today's featured articles and recipes</h1>
	<!-- Portfolio Section -->
	<a href="{{ url_for('all_recipes') }}">
		<h2>Eat</h2>
	</a>
	
	


    <div class="row">
    {% for item in recipe %}
            {% if item.feature == "true_narrow" %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100 shadow">
                    <a href="{{ url_for('recipe', recipe_id=item._id) }}"><img class="card-img-top" src="{{item.picture}}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ url_for('recipe', recipe_id=item._id) }}">{{item.dish_name}}</a>
                            </h4>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                </div>
		    </div>
            {% elif item.feature == "true_wide" %}
            <div class="d-none d-lg-block col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100 shadow">
                    <a href="{{ url_for('recipe', recipe_id=item._id) }}"><img class="card-img-top" src="{{item.picture}}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ url_for('recipe', recipe_id=item._id) }}">{{item.dish_name}}</a>
                            </h4>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                </div>
		    </div>
            {% endif %}
    {% endfor %}
    </div>
    <a href="">
		<h2>Play</h2>
	</a>
	<div class="row">
		<div class="col-lg-4 col-sm-6 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/hotrod-die-cast-model-on-board-1422673.jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Four</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
							euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/girl-in-white-and-pink-shirt-wearing-white-vr-goggles-4144041.jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Five</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
							euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
			</div>
		</div>
		<div class="d-none d-lg-block col-lg-4 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/two-boy-and-girl-holding-game-controllers-1103563.jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Six</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum
							nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit
							eius in
							voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
					</div>
			</div>
		</div>
	</div>
	<a href="">
		<h2>Rest</h2>
	</a>
	<div class="row">
		<div class="col-lg-4 col-sm-6 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/adult-arts-and-crafts-clay-dirty-357428 (1).jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Four</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
							euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/arts-and-crafts-child-close-up-color-159579 (1).jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Five</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
							euismod odio, gravida pellentesque urna varius vitae.</p>
					</div>
			</div>
		</div>
		<div class="d-none d-lg-block col-lg-4 portfolio-item">
			<div class="card h-100 shadow">
				<a href="#"><img class="card-img-top" src="static/images/childred-decorating-eggs-3972178.jpg" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
							<a href="#">Project Six</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum
							nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit
							eius in
							voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
					</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
{% endblock %}