{% extends 'base.html' %} {% block content %}
<!-- Page Content -->
<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">{{recipe.dish_name}}</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ url_for('index') }}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ url_for('all_recipes') }}">All Recipes</a>
		</li>
		<li class="breadcrumb-item active">Recipe</li>
	</ol>
	<!-- Recipe Post -->
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded" src="{{recipe.picture}}" alt="image of food">
				</div>
				<div class="col-lg-6">
					<div class="col-12 gutter text-center">
                        <hr class="recipe-hr">
						<h2 hidden>Description</h2>
						<p class="card-text">{{recipe.description}}</p>
						<h2 hidden>Category</h2>
                        <hr class="recipe-hr">
						<p class="card-text">Excellent option for {{recipe.category_name}}</p>
						<h3 hidden>Dietry details</h3>
						<hr class="recipe-hr">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">{{recipe.dietry_name}}</p>
                            </div>
                            <div class="col-6">
                                {% if recipe.is_gluten_free %}
                                <div class="custom-control custom-switch">
                                    <p>Gluten free</p>
                                </div>
                                {% else %}
                                {% endif %}
                                {% if recipe.is_nut_free %}
                                <div class="custom-control custom-switch">
                                    <p>Nut free</p>
                                </div>
                                {% else %}
                                {% endif %}
                                {% if recipe.is_dairy_free %}
                                <div class="custom-control custom-switch">
                                    <p>Dairy free</p>
                                </div>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                        <hr class="recipe-hr">
					</div>
				</div>
			</div>
            <div class="d-lg-none d-xl-none mt-4 mb-4">
                <p>
                    <a class="btn btn-primary mt-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Nutrional data &rarr;
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="row">
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Calories</p>
                                    <p class="card-text">{{recipe.calories}}kcal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Fat</p>
                                    <p class="card-text">{{recipe.fat}}g</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Sats</p>
                                    <p class="card-text">{{recipe.saturates}}g</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Sugar</p>
                                    <p class="card-text">{{recipe.sugar}}g</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Salt</p>
                                    <p class="card-text">{{recipe.salt}}g</p>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Protein</p>
                                    <p class="card-text">{{recipe.protein}}g</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Carbs</p>
                                    <p class="card-text">{{recipe.carbs}}g</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 nutri-tabs-sm">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Fibre</p>
                                    <p class="card-text">{{recipe.fibre}}g</p>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="text-center d-none d-lg-block mt-4 mb-4">
                <ul class="list-group list-group-horizontal justify-content-center">
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Calories</p>
                        <hr>
                        <p>{{recipe.calories}}kcal</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Fat</p>
                        <hr>
                        <p>{{recipe.fat}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Saturates</p>
                        <hr>
                        <p>{{recipe.saturates}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Sugars</p>
                        <hr>
                        <p>{{recipe.sugar}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Salt</p>
                        <hr>
                        <p>{{recipe.salt}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Protein</p>
                        <hr>
                        <p>{{recipe.protein}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Carbs</p>
                        <hr>
                        <p>{{recipe.carbs}}g</p>
                    </li>
                    <li class="list-group-item nutri-tabs-lg">
                        <p class="">Fibre</p>
                        <hr>
                        <p>{{recipe.fibre}}g</p>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <h4>Ingredient</h4>
                    {% for ingredient in recipe.ingredients %}
                    <div class="form-group row">
                        <div class="col-12">
                            <p class="card-text">{{ ingredient }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-8 mb-4">
                    <h4>Procedure</h4>
                    {% for procedure in recipe.procedures %}
                    <div class="form-group row">
                        <div class="col-12">
                            <p class="card-text">{{ procedure }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ url_for('all_recipes') }}" class="btn btn-primary">
                        Back to recipes &rarr;
                    </a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">
                        Edit &rarr;
                    </a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">
                        Delete &rarr;
                    </a>
                </div>
            </div>
        </div>	
        <div class="card-footer text-muted">
            Posted on {{recipe.timestamp}} by {{recipe.username}}
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}