{% extends 'base.html' %} 
{% block content %}
<header>
</header>
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Subscribe
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Subscribe</li>
    </ol>
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <img class="img-fluid rounded" src="static/images/adult-cutting-daylight-facial-expression-1153369.jpg" alt="image of adult preparing food">
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Customer Services</h3>
            <p>
                3481 Melrose Place
                <br>
                Beverly Hills, CA 90210
                <br>
            </p>
            <p>
                <span class="material-icons">phone</span> 
                (123) 456-7890
            </p>
            <p>
                <span class="material-icons">alternate_email</span>
                services@lt.com
            </p>
            <p>
                <span class="material-icons">access_time</span> 
                Monday - Sunday: 9:00 AM to 5:00 PM
            </p>
        </div>
    </div>
    <!-- /row -->
    <div class="row">
        <!-- Form -->
        <div class="col-lg-8 mb-4">
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <ul class="notification">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %} 
            {% endwith %}
            <h3>Sign up</h3>
            <!-- <form name="sentMessage" onsubmit="return sendMail(this);" id="contactForm"  class="needs-validation" novalidate> -->
            <form name="sentMessage" method="POST" id="contactForm"  class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-12">
                        <label for="name">Full Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required placeholder="Please enter your name.">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label for="name">Occupation:</label>
                        <input type="text" class="form-control" id="job" name="job" required placeholder="Please enter your job title and/or employer's name."> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check">
                        <label for="check">Essential worker?</label>    
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="phone">Phone Number:</label>
                        <input type="tel" class="form-control" id="phone" name="number" required placeholder="Please enter your phone number.">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Please enter your email address.">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary hvr-box-shadow-outset" id="sendMessageButton" >
                    Submit Request
                </button>
            </form>
        </div>
        <!-- /Form -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
{% endblock %}